name: Validation

on:
  - push
  - pull_request

jobs:
  test:
    name: Test-Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
            enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version-file: ".python-version"
      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Run unittests/coverage
        run: |
          uv run pytest --cov=. --cov-report=term-missing --cov-fail-under=45
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@v2
        with:
          flag-name: run-linux-uv
          parallel: true
  finish:
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true

  Lint:
    name: Pre-Commit Hooks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          python-version-file: ".python-version"
    - name: Install dependencies
      run: uv sync --all-extras --dev
    - uses: pre-commit/action@v3.0.0
